<!DOCTYPE html>
<html>
  <head>
    <title>The Drawing Game</title>
	<link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Pacifico|Indie+Flower" rel="stylesheet">
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
    <!--Drawing libraries from p5js -->
    <script src="libraries/p5.js"></script>
    <script src="libraries/p5.dom.js"></script>
    <script src="libraries/p5.sound.js"></script>
    <!-- socket io client served from CDN -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="/style.css">
		<script src="sketch.js"></script>


  </head>
  <body>

<div id="headerText"><h1>The Drawing Game</h1></div>
<div id="wrapper">

	<div id="form">
    <div class="containerOne">
      <div id="title">
  		<h2>Hello <%= data.username %>, let's play..</h2>
  		</div>

  		<div id="timer">
  			<div id="counter">
        </div>
  		</div>
      <div id="colorText">
        <p>Choose colour:</p>
      </div>
      <div id="colourSelector">
        <input id="drawColor" type="color" value="#ffffff"/>
      </div>
    </div>

    <div class="containerTwo">
      <div id="playerboard">
  			<!--canvas goes here -->
  		</div>

  		<div id="scoreboard">
  			<h3>Scoreboard</h3>
  		<table class="blueTable">
  		<thead>
  		<tr>
  		<th>Player</th>
  		<th>Score</th>
  		</tr>
  		</thead>
  		<tbody>
  		<% if (data.score == ""){%>
  		<tr><td><%= data.username %></td><td>0</td><td style="color:green;"></td></tr>
  		<% }else {%>
  		<tr><td><%= data.username %></td><td><%= data.score %></td><td style="color:green;"></td></tr>
  		<%}%>


  		</tbody>
  		</tr>
  		</table>

  		</div>
    </div>


	</div>
    <div id="clueword">
  	Your Clue word is "<%= data.clueword %>", if you want to change it, you must start a new game. Here is <a href=""> how</a> to play.
  	<span>Display who is guessing</span></div>


</div>

  </body>
</html>
